body, html {
  height: 100%;
  width: 100%;
}

p {
  margin: 5px 5px;
}
.msg__form {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,235,214,0.9752275910364145) 0%, rgba(0,212,255,1) 100%);
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.msg__wrap {
  background: azure;
  width: 450px;
  height: 400px;
  margin-bottom: 50px;
  overflow: scroll;
  flex-direction: column;
}
.msg__skipBtn{
  position: absolute;
  left: 96%;
  top: -5px;

}
.msg__sendBtn{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.msg__textArea{
  resize: none;
}
